# server base config
NODE_ENV=development
PORT=3000

# database config
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=bumpa
DATABASE_PASSWORD=bumpa
DATABASE_NAME=bumpa_ecommerce
DATABASE_SSL=false
DATABASE_SYNCHRONIZE=false

# paystack gateway config
PAYSTACK_BASE_URL=https://api.paystack.co
PAYSTACK_SECRET_KEY=
PAYSTACK_TRANSFER_SOURCE=balance
PAYSTACK_CURRENCY=NGN

# knobs
PROGRESSION_DEFINITION_LOADERS_ENABLED=true
CASHBACK_PROCESSING_STALE_AFTER_SECONDS=300
